* {
	box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background: #323743;
}

h1 {
    font-weight: 600;
    text-align: center;
    color: white;
}

#main {
    display: flex;
    height: 100%;
}

.left-panel {
    width: 250px;
    height: 100%;
    background: #1d2126;
    overflow-y: auto;
}

.main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.team-member-names {
    color: #b2b9bf;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
}


.thumb {
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 5px;
    background: #272b34;
}

.thumb-img {
    width: 100%;
}

.thumb-display {
    color: #a1aab2;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    text-align: center;
}



.video-wrap {
    width: 100%;
    display: flex;
    padding: 0px 20px;
}

.video {
    border-radius: 4px;
}

.original-vid {
    width: 800px;
    height: 600px;
    margin-right: 10px;
}

.stats {
    padding: 15px;
    width: 100%;
    display: flex;
}

.stat {
    display: flex;
    margin-right: 20px;
    min-width: 200px;
}

.stat-icon {
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.stat-icon svg {
    fill: white;
}

.stat-name {
    font-size: 14px;
    font-weight: 300;
}

.stat-val {
    font-size: 18px;
    font-weight: 600;
}

.card {
    background: #272b34;
    color: #b2b9bf;
    border-radius: 4px;
    padding: 15px;
}

#original-vid-wrap {
    padding: 10px;
}




#stream-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

#stream {
    border-radius: 8px;
}

#video {
    width: 80%;
    display: block;
    margin: auto;
}

#file-input {
    display: block;
    margin: auto;
}